@keyframes fadeInAnimation {
  0% {
    color: aqua;
  }
  100% {
    color: blue;
  }
}
header {
  color: white;
  text-align: center;
  padding: 1rem 1rem 0 1rem;
  position: fixed;
  font-size: larger;
  background-color: #00000028;
}

.topnav {
  overflow: hidden;
}

.topnav a {
  float: left;
  text-align: center;
  font-weight: bold;
  padding: 10px 14px;
  text-decoration: none;
  color: #fff;
}
.topnav  .active {
  color: rgb(49, 49, 49);
}


footer {
  background: #494949;
  background: linear-gradient(180deg, #000000, #494949);
}