header {
    background: black;
    color: white;
    text-align: center;
    padding: 1rem 1rem 0 1rem;
}

.topnav {
    overflow: hidden;
}

.topnav a {
    float: left;
    text-align: center;
    padding: 10px 14px;
    text-decoration: none;
    color: white;
}

.topnav a:hover {
    
    animation: fadeInAnimation 1s;
}

.topnav a.active {
    color: white;
    background-color: #212529;

}

@keyframes fadeInAnimation {
    0% {
    }
    100% {
        background-color: #212529;
    }
}